* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    background-color: #F8F9FA;
    color: #0F172A;
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #E1BEE7;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #9B4DAB;
}
